@import "./assets/css/header.css";
@import "./assets/css/welcome.css";
@import "./assets/css/reviews.css";
@import "./assets/css/assembly.css";
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0 auto;
}
.body {
  background-color: #292929;
  color: #ffffff;
  font-family: "Gotham Pro";
}
