.goods {
  padding-bottom: 59px;
  padding-top: 93px;
}

.section-title-goods {
  margin-bottom: 27px;
}

.text-color {
  color: #fe2e55;
}

.section-description {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.card {
  border: 3px solid #ffffff;
  padding: 33px 35px 30px;
  text-align: center;
  margin-top: 27px;
}

.card-title {
  text-transform: uppercase;
  margin-top: 23px;
}

.card-label {
  margin-bottom: 10px;
  margin: 20px auto;
  margin-top: 20px;
  font-size: 14px;
  display: block;
}

.colors {
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  display: flex;
}

.color-label {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.color-label.white {
  background-color: #240a0a;
}

.color-label.biege {
  background-color: #f7b496;
}

.color-label.pink {
  background-color: #ed366e;
}

.color-label.red {
  background-color: #ff0000;
}

.color-label.blue {
  background-color: #12129d;
}

.color-input {
  visibility: hidden;
  position: absolute;
  z-index: -9;
  opacity: 0;
}

.counter-group {
  justify-content: center;
  align-items: center;
  display: flex;
}

.counter-button {
  background-color: #292929;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  height: 40px;
  border: none;
  width: 40px;
}

.counter-input {
  border: 2px solid #ffffff;
  background-color: #292929;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  color: #ffffff;
  height: 40px;
  width: 40px;
}

.card-button {
  padding: 16px 26.5px 13px;
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}

.more {
  text-align: center;
  color: #f24b41;
  margin-top: 29px;
  font-size: 14px;
  display: block;
  padding: 10px;
}

.more:after {
  background-image: url(./../icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  display: inline-block;
  margin-left: 14px;
  content: "";
  width: 10px;
  height: 4px;
}

.selected-color{
  border: 3px solid #ffff00;
}

@media (max-width: 768px) {
  .card {
    max-width: 350px;
  }
}

@media (max-width: 476px) {
  .card {
    max-width: 250px;
  }
}
