@font-face {
  font-family: "Gotham Pro Light";
  src: url("./../font/gotham/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("./../font/gotham/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./../font/gotham/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
