.footer {
  margin-top: 52px;
}

.footer-menu {
  margin-bottom: 33px;
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-menu-item {
  margin: 0;
  margin-right: 30px;
}

.footer-menu-link {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}

.social {
  font-size: 16px;
}

.social-link {
  text-decoration: none;
  margin-left: 20px;
}

.footer-info {
  text-align: right;
}

.footer-label {
  margin-bottom: 12px;
  font-size: 14px;
  display: block;
}

.bottom {
  margin-bottom: 40px;
}

.footer-phone {
  text-decoration: none;
  margin-bottom: 11px;
  color: #ffffff;
  font-size: 24px;
  display: block;
}

.sub-footer {
  background-color: #ffffff;
  padding-bottom: 48px;
  padding-top: 48px;
}

.color {
  color: #292929;
}

@media (max-width: 768px) {
  .footer-info {
    text-align: left;
  }

  .footer-container,
  .sub-footer {
    padding-left: 30px;
  }
}
