.header {
  padding-top: 49px;
}

.header-description {
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
}

.russia-text {
  font-family: "Gotham Pro Medium";
  color: #ff3469;
}

.header-phone {
  text-decoration: none;
  position: relative;
  text-align: right;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  display: block;
}

.header-phone::before {
  content: url(./../images/petals/first.png);
  position: absolute;
  bottom: 208%;
  right: 85%;
}

.header-info {
  text-align: right;
  font-weight: 400;
  margin-top: 7px;
  font-size: 12px;
  display: block;
}

.callback {
  text-align: right;
  color: #ff3469;
  margin-top: 16px;
  font-size: 16px;
  display: block;
}

@media (max-width: 768px) {
  .header,
  .header-phone,
  .header-info,
  .callback {
    text-align: center;
  }

  .header-phone::before {
    display: none;
  }
}
