.modal {
  display: none;
}

.modal-title {
  margin-bottom: 20px;
  color: #292929;
}

.modal-input {
  margin-bottom: 30px;
  font-size: 18px;
  display: block;
  padding: 10px;
  width: 100%;
}

.modal-button{
  width: 100%;
}
