.reviews {
  padding-bottom: 50px;
  padding-top: 99px;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 96px;
  text-align: center;
  font-size: 30px;
}

.swiper-slide {
  align-items: center;
  display: flex;
}

.review-slider {
  padding-right: 86px;
  padding-left: 60px;
}

.review-image {
  font-family: "Gotham Pro Light";
  background-color: #000000;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 50%;
  margin-right: 52px;
  overflow: hidden;
  font-size: 20px;
  flex-shrink: 0;
  height: 220px;
  display: flex;
  width: 220px;
}

.review-image:before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
}

.review-image > * {
  position: relative;
}

.alices-review-background {
  background: url(./../images/reviews/alisa-ivanova.jpg);
}

.yuris-review-background {
  background: url(./../images/reviews/yuri-klimov.jpg);
}

.review-name {
  margin-bottom: 7px;
}

.review-text {
  letter-spacing: 0.18px;
  line-height: 1.4;
  font-size: 18px;
}

.review-link {
  padding-top: 19px;
  color: #f24841;
  display: block;
}

.advantages {
  border-bottom: 1px solid #4c4c4c;
  padding-bottom: 100px;
  text-align: center;
  padding-top: 48px;
}

.advantage-wrapper {
  margin-bottom: 30px;
  min-height: 85px;
  margin: 0 auto;
}

.advantages-title {
  text-transform: uppercase;
  padding-top: 35px;
  line-height: 1.4;
  font-size: 30px;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 24px;
  }

  .review-text {
    margin-top: 30px;
  }

  .advantages {
    padding: 0;
  }

  .advantages-title {
    font-size: 24px;
  }
}

@media (max-width: 476px) {
  .review-text {
    font-size: 15px;
  }
}
