@import "https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css";
@import "./bootstrap-grid.min.css";
@import "./swiper-bundle.min.css";
@import "./fonts.css";
@import "./header.css";
@import "./welcome.css";
@import "./reviews.css";
@import "./assembly.css";
@import "./offer.css";
@import "./footer.css";
@import "./modal-window.css";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: #292929;
  font-family: "Gotham Pro";
  color: #ffffff;
}
