:root {
  --swiper-navigation-size: 18px;
}
.hero {
  padding-top: 123px;
  text-align: center;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}
.hero-title {
  font-size: 34px;
  margin: auto;
  margin-bottom: 34px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.33px;
  font-family: "Gotham Pro Medium";
  max-width: 700px;
  position: relative;
}

.hero-description {
  font-size: 18px;
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  letter-spacing: 0.18px;
  line-height: 1.4;
  margin: auto;
  max-width: 590px;
  position: relative;
}

.hero-description ::before {
  content: url(../img/petals/1.png);
  position: absolute;
  right: 130%;
  bottom: 220%;
}

.hero-description::after {
  content: url(../img/petals/3.png);
  position: absolute;
  left: 160%;
  top: 100%;
}

.flowers-slider {
  width: 100%;
  text-align: center;
  margin-bottom: 83px;
  margin-top: 87px;
}
.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff2e55;
}
.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: "Gotham Pro Light";
}
.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2e55;
  padding: 30px 65px 26px;
  cursor: pointer;
  border: none;
}

@media (max-width: 1200px) {
  .hero-description ::before {
    right: 110%;
    bottom: 180%;
  }
  .hero-description::after {
    left: 110%;
  }
}

@media (max-width: 992px) {
  .hero-description ::before {
    right: 90%;
    bottom: 140%;
  }
  .hero-description::after {
    left: 90%;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 652px;
  }
  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }
  .hero-description ::before,
  .hero-description::after {
    display: none;
  }
  .button {
    padding: 20px 40px;
  }
}
