.hero {
  border-bottom: 1px solid #4c4c4c;
  padding-bottom: 77px;
  padding-top: 123px;
  text-align: center;
}

.hero-title {
  font-family: "Gotham Pro Medium";
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin-bottom: 34px;
  position: relative;
  max-width: 700px;
  line-height: 1.4;
  font-size: 34px;
  margin: auto;
}

.hero-description {
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  letter-spacing: 0.18px;
  position: relative;
  max-width: 590px;
  line-height: 1.4;
  font-size: 18px;
  margin: auto;
}

.hero-description::before {
  content: url(./../images/petals/second.png);
  position: absolute;
  bottom: 220%;
  right: 130%;
}

.hero-description::after {
  content: url(./../images/petals/third.png);
  position: absolute;
  left: 160%;
  top: 100%;
}

.flowers-slider {
  margin-bottom: 83px;
  text-align: center;
  margin-top: 87px;
  width: 100%;
}

.hero-cta {
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  margin-bottom: 36px;
  font-size: 19px;
  display: block;
}

.button {
  background-color: #ff2e55;
  text-transform: uppercase;
  padding: 30px 65px 26px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  border: none;
}

@media (max-width: 1200px) {
  .hero-description ::before {
    bottom: 180%;
    right: 110%;
  }

  .hero-description::after {
    left: 110%;
  }
}

@media (max-width: 992px) {
  .hero-description ::before {
    bottom: 140%;
    right: 90%;
  }

  .hero-description::after {
    left: 90%;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 50px;
  }

  .hero-title {
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 652px;
    font-size: 24px;
  }

  .hero-description {
    line-height: 1.6;
    font-size: 16px;
  }

  .hero-description ::before,
  .hero-description::after {
    display: none;
  }

  .button {
    padding: 20px 40px;
  }
}
